<p id="notice"><%= notice %></p>
<p>Email us at <a href="mailto:josephandtandra@gmail.com">josephandtandra@gmail.com</a> if you have any questions or have a change of plans. Thanks!</p>

<%= link_to 'Edit', edit_user_path(@user) %>