<script type="text/javascript" src="//use.typekit.net/kxw8lwr.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>

<!-- <style type="text/css">
</style> -->



<body id="power">
<h1 id="deet1"><%= notice %></h1>
<img id="deet3" src="/assets/home.jpg"/>
<p id="deet2">Email us at <a id="deet4" href="mailto:tandra.froehlich@gmail.com">tandra.froehlich@gmail.com</a> if you have any questions or have a change of plans. Thanks!</p>

<p id="deet2"><%= link_to 'Edit info', edit_user_path(@user), :id => 'deet4' %></p>
</body>